header {
  background: #bbbbbb;
  padding: 20px 0;
}

#tancredoimg {
  width: 300px;
  height: 280px;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 110px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 23px;
  text-decoration: none;
}
